{
  "presets": [
    "@babel/flow",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "ie": "7"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
