[Desktop Entry]
Name=Quarter Tiling
Comment=Improves the workflow by automatically tiling windows and creating virtual desktops
Icon=preferences-system-windows-script-test

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Jasu Koponen
X-KDE-PluginInfo-Email=jasu.koponen@hotmail.com
X-KDE-PluginInfo-Name=quarter-tiling
X-KDE-PluginInfo-Version=0.0.3

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script,KCModule

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=quarter-tiling
X-KDE-ParentComponents=quarter-tiling

Type=Service